In [1]:
x = 1
y = 1
print(x + y)

2

In [2]:
def add(n1, n2):
    return(n1 + n2)

print(add(x, y))

2

In [5]:
def addnumber(a, b, c = None): # optional parameter ( = None )
    if (c == None):
        return a + b
    else:
        return (a + b + c)

print(addnumber(1, 3))
print(addnumber(2, 5, 7))

4
14

In [6]:
def addno(n1, n2):
    return n1 + n2

a = addno
print(a(3, 6))

9

In [12]:
x = (1, 'y')
type(x)

tuple

In [11]:
y = [1, 'y']
type(y)

list

In [14]:
z = {1 : 'a', 2 : 'b'}
print(z[2])

b

STRING FORMATTING

In [2]:
string = '{} is a level {} hockey player' # PLACEHOLDER IS IN {} BRACKETS
hockey = {'name' : 'Yash', 'level' : 2}
print(string.format(hockey['name'],
                    hockey['level']))

string2 = '{} is a level {} cricket player and a level {} football player'
p1 = {'name' : 'aryan',
         'cricketlvl' : '3',
         'footballlvl' : '4'}
p2 = {'name' : 'rohan',
      'cricketlvl' : '5',
      'footballlvl' : '3'}
print(string2.format(p1['name'],
                     p1['cricketlvl'],
                     p1['footballlvl']))
print(string2.format(p2['name'],
                     p2['cricketlvl'],
                     p2['footballlvl']))

Yash is a level 2 hockey player
aryan is a level 3 cricket player and a level 4 football player
rohan is a level 5 cricket player and a level 3 football player