LIST - a collection of items that can be stored in a single variable

In [1]:
list1 = ['Yash', 'Vardhan', 'Sharma'] #structure of a list
print(list1)

['Yash', 'Vardhan', 'Sharma']

In [2]:
list2 = ['Yash', 25, 98.6] #data types inside a list can be different
print(list2)
list3 = [5, [6, 7], 7] #an element in a list can be anything, even another list
print(list3)
list4 = [] #empty list

['Yash', 25, 98.6]
[5, [6, 7], 7]

looping in a list

In [3]:
list5 = ['Yash', 'Rahul', 'Raj']
count = 0
for i in list5: #for loop traverses each element of the list
    count = count + 1
    print('Reg no. :', count)
    print('Name:', i)

Reg no. : 1
Name: Yash
Reg no. : 2
Name: Rahul
Reg no. : 3
Name: Raj

looking inside lists (using index number)

In [4]:
index = 2
print('element at index 2:', list5[index])

element at index 2: Raj

unlike strings, lists are mutable ie. the value of any element in a list can be changed

In [5]:
list5[2] = 'Rohan'
print(list5)
#the element at index two was changed
list6 = [2, 14, 26, 41, 63]
print(list6)
list6[2] = 28
print(list6)
#26 was changed to 28
length = len(list6)
print(length) #number of eleents in list6

['Yash', 'Rahul', 'Rohan']
[2, 14, 26, 41, 63]
[2, 14, 28, 41, 63]
5

range function

In [6]:
print(list(range(5))) #returns a list of numbers that range from zero to one less than that parameter (5 in this case)
print(list(range(length)))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [7]:
for x in list5: #looping through the list normally
    print('Happy New Year', x)
for i in range(len(list5)): #looping through the list using range function (counted loop where i corresponds to the position of the element)
    y = list5[i]
    print('Merry Christmas', y)

Happy New Year Yash
Happy New Year Rahul
Happy New Year Rohan
Merry Christmas Yash
Merry Christmas Rahul
Merry Christmas Rohan

concatenation

In [8]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c) #concatenates both the strings

[1, 2, 3, 4, 5, 6]

slicing

In [9]:
print(c[1:3])
print(c[:4])
print(c[2:])
print(c[:])

[2, 3]
[1, 2, 3, 4]
[3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

building a list from scratch

In [10]:
newlist = list()
newlist.append(12)
print(newlist)
newlist.append('hello')
newlist.append(98.6)
print(newlist)
#append() function only takes one element at a time as argument

[12]
[12, 'hello', 98.6]

is something in a list? (in / not in => returns True/False)

In [11]:
if(13 in newlist): 
    print('13 is there')
else:
    print('Not there')

Not there

sorting

In [12]:
list7 = [3, 41, 12, 9, 74, 15]
list7.sort()
print(list7)

[3, 9, 12, 15, 41, 74]

Functions that take list as parameter

In [13]:
print(len(list7))
print(max(list7))
print(min(list7))
print(sum(list7))
print(sum(list7) / len(list7))

6
74
3
154
25.666666666666668

Sum of elements using list

In [14]:
numlist = list()
while True:
    num = input('Enter the number: ')
    if (num == 'done'):
        break
    n = float(num)
    numlist.append(n)
total = sum(numlist)
print('Sum:', total)

ValueError: could not convert string to float: 'End'

STRINGS AND LISTS

In [ ]:
string = 'Happy New Year Yashvardhan'
list8 = string.split() #creates a list of elements in a string separated by ' '
print(list8)
print(len(list8)) #number of words in string
print(list8[3])
for i in list8:
    print(i) #lists the words in a string using for loop
#split, by default, works on whitespaces but can take other parameters
string2 = 'first;second;third'
list9 = string2.split(';') #splits the string based on position on ';'
for i2 in list9:
    print(i2)

example - extracting email domain timestamp from sample3.txt

In [ ]:
fhand = open('sample3.txt')
for i3 in fhand:
    i3 = i3.rstrip()
    if not ('From ' in i3):
        continue
    list10 = i3.split()
    print(list10[5])
    email = list10[1]
    domain = email.split('@')
    print(domain[1])

sorted() can also be used to sort a list

In [ ]:
lst = [2, 5, 3, 67, 23, 89, 12, 45, 37, 85, 23, 76, 10, 2, 31]
print(sorted(lst))